<nz-table #table [nzData]="workers">
    <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
    </thead>
    <tbody>
        <tr *ngFor="let worker of table.data">
            <td>{{worker.id}}</td>
            <td>{{worker.firstName}}</td>
            <td>{{worker.lastName}}</td>
            <td>{{worker.position}}</td>
            <td>
                <a [routerLink]="['/home', 'worker', worker.id]">Edit</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<a nz-button nzType="primary" routerLink ="/home/worker">Create worker</a>