<form nz-form [formGroup]='form' (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-input-group>
            <nz-form-control nzErrorTip="Please enter room title">
                <input 
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="Room name"
                />
            </nz-form-control>
        </nz-input-group>
        <button nz-button nzType='primary'>Save</button>
    </nz-form-item>
</form>